[Unit]
Description=Sync video files from AgentDVR
After=network-online.target

[Service]
Type=exec
ExecStart=/usr/local/bin/sync_agent
RestartSec=60
Restart=always
WorkingDirectory=/home/chris/AgentDVR
SyslogIdentifier=sync_agent

[Install]
WantedBy=multi-user.target
