[Unit]
Description=Transfer video files from AgentDVR

[Service]
WorkingDirectory=/home/chris/AgentDVR
ExecStart=/usr/local/bin/sync_agent
SyslogIdentifier=sync_agent
Restart=always
RestartSec=60

[Install]
WantedBy=network-online.target
